<div id="sidebar">
  <div id="subscribe">
    <a href="#">Subscribe Feed</a>
    <a href="http://twitter.com/usejquery">Follow on Twitter</a>
  </div>
  
  <form>
    <div><input type="text" value="Search the Blog"></div>
  </form>
  
  <ul>
    <li class="categories">
      <h3>Categories</h3>
      <ul>
        <li><a href="#">Roundup</a></li>
        <li><a href="#">Tutorial</a></li>
        <li><a href="#">Site Review</a></li>
        <li><a href="#">Tipps &amp; Tricks</a></li>
      </ul>
      <div class="clear"></div>
    </li>
    <li class="latest_posts">
      <h3>Latest Posts</h3>
      <ul>
        <li><a href="#">This is an Example Post</a></li>
        <li><a href="#">And another Post which has a long long title</a></li>
        <li><a href="#">weekQuery #32: Validation, Custimisation and Inspiration</a></li>
      </ul>
    </li>
  </ul>
</div> <!-- #sidebar end -->
<div class="clear"></div>